---
import { ContactLinks , ContactOthers} from "../data/ContactLinks";
---

<div class="w-full flex flex-row flex-wrap gap-2 justify-evenly" aria-label="Sección de contacto e información adicional">
	
	<div aria-label="Sección de contacto">
	<span class="text-2xl opacity-30" aria-label="Contacto">Contacto</span>
	<ul aria-label="Lista de enlaces de contacto">
		{
			ContactLinks.map((x) => (
				<li class="p-1 m-1" aria-label={`Enlace a ${x.from}`}>
					<a
						class="flex gap-1"
						href={x.link}
						target="_blank"
						rel="noopener noreferrer"
						aria-label={`Ir a ${x.from}`}
					>
						<!--<img-->
						<!--	src={x.icon}-->
						<!--	alt={x.alt}-->
						<!--	class={`${x.iconSmall ? "icon-small" : ""} opacity-70 hover:opacity-100 transition-all`}-->
						<!--/>-->
						<span>{x.from}</span>
					</a>
				</li>
			))
		}
	</ul>
	</div>

	<div aria-label="Sección de información adicional">
	<span class="text-2xl opacity-30" aria-label="Más información">Más</span>
		<ul aria-label="Lista de enlaces adicionales">
			{
			ContactOthers.map((x) => (
				<li class="p-1 m-1" aria-label={`Enlace a ${x.from}`}>
					<a
						class="flex gap-1"
						href={x.link}
						target="_blank"
						rel="noopener noreferrer"
						aria-label={`Ir a ${x.from}`}
					>
						<!--<img-->
						<!--	src={x.icon}-->
						<!--	alt={x.alt}-->
						<!--	class={`${x.iconSmall ? "icon-small" : ""} opacity-70 hover:opacity-100 transition-all`}-->
						<!--/>-->
						<span>{x.from}</span>
					</a>
				</li>
			))
		}
		</ul>
	</div>

</div>

<style>
	ul li img {
		width: 1.2rem;
	}

	ul li .icon-small {
		width: 1.4rem;
	}
</style>
