---
import './index.css';

interface Props {
  title?: string;
}

const { title = 'Desarrollador de software Cali - Colombia' } = Astro.props;
const metaDescription =
  'Desarrollador de software en Cali - Colombia especializado en la creaci칩n de p치ginas web con tecnologias como HTML, CSS, JavaScript, TypeScript, React, Astro JS y Angular. Con experiencia en Django, .NET (C#) y creaci칩n de aplicaciones para Android (Kotlin)';
const metaKeywords =
  'Desarrollador de software, creaci칩n pagina web, React, Astro JS, Leonardo henao, Desarrollador cali colombia';
const image = '/assets/brand.jpg';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Leonardo Henao | {title}</title>

    <link rel="icon" type="image/*" href="/icon.svg" />
    <meta name="theme-color" content="#17181d" />

    <meta name="description" content={metaDescription} />
    <meta name="author" content="Leonardo Henao" />
    <meta name="keywords" content={metaKeywords} />

    <meta property="og:url" content="https://leonardohenao.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={`Leonardo Henao | ${title}`} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={image} />

    <meta name="twitter:title" content={`Leonardo Henao | ${title}`} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:site" content="https://leonardohenao.com" />
    <meta name="twitter:image" content={image} />

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-C7YN8M7EE6"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-C7YN8M7EE6');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
